-if @result_form == 1      
  =link_to "回数入力に戻る", form_path, class:"Editlink"
  %br
  =link_to "トップに戻る",root_path,class:"Editlink" 
  %br
  =link_to "GachaSimulator",root_path,class:"Editlink"
-elsif @result_form == 2     
  =link_to "金額入力に戻る", form_path, class:"Editlink"
  %br
  =link_to "トップに戻る",root_path,class:"Editlink" 
  %br
  =link_to "GachaSimulator",root_path,class:"Editlink"
-elsif @result_form == 3     
  =link_to "入力に戻る", form_path, class:"Editlink"
  %br
  =link_to "トップに戻る",root_path,class:"Editlink" 
  %br
  =link_to "GachaSimulator",root_path,class:"Editlink"
-elsif @form.present?
  =link_to "トップに戻る",root_path,class:"Editlink" 
  %br
  =link_to "GachaSimulator",root_path,class:"Editlink"
-else
  =link_to "GachaSimulator",root_path,class:"Editlink"