.gacha_main
  .gacha_main__header
    .gacha_main__header_title
      GachaSimulator2020
      .gacha_main__edit
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-gradient'
    .gacha_main__header_user
      name: 
      = current_user.name
  .gacha_main__form
    %p ガチャに使用する金額を入力してください
    =form_with(url: result_path(2), class: "Form", id: "form", local: true) do |f|
      =f.number_field :time, id: "time", class: 'text',name: "times", value:'',max:"100000000", onsubmit:"charges();",placeholder:"金額"
      =f.submit'ガチャる', class:'send-btn'
    %input.SSR{:type=>"hidden" , :name=>"SSR", :value=>@result.ssr}
    %input.SR{:type=>"hidden" , :name=>"data2", :value=>@result.sr}
    %input.R{:type=>"hidden" , :name=>"data3", :value=>@result.r}
  .gacha_main__rate
    %button{type: "button",class:'btn btn--orange btn--radius',onclick:'rate()'}
      提供割合<br>
  .gacha_main__footer
    %a{href: 'http://localhost:3000',class:"Editlink"} トップに戻る <br>
    GachaSimulator2020