.gacha_main
  =render "header"
  .gacha_main__form
    -if @form == 1
      =form_with(url: result_path(1), class: "Form", id: "form", local: true) do |f|
        %p 回したい数を入力してください
        =f.number_field :time, id: "time", class: 'text',name: "times", value:'', step:"1", max:"100000000", onsubmit:"result();",placeholder:"回数"
        =f.submit'ガチャる', class:'send-btn'
    -else
      =form_with(url: result_path(2), class: "Form", id: "form", local: true) do |f|
        %p ガチャに使用する金額を入力してください
        =f.number_field :time, id: "time", class: 'text',name: "times", value:'',max:"100000000", onsubmit:"charges();",placeholder:"金額"
        =f.submit'ガチャる', class:'send-btn'
    %input.SSR{:type=>"hidden" , :name=>"SSR", :value=>@rarity.ssr}
    %input.SR{:type=>"hidden" , :name=>"data2", :value=>@rarity.sr}
    %input.R{:type=>"hidden" , :name=>"data3", :value=>@rarity.r}
  .gacha_main__rate
    %button{type: "button",class:'btn btn--orange btn--radius',onclick:'rate()'}
      提供割合<br>
  .gacha_main__footer
    =render "footer"
