.gacha_main
  .gacha_main__header
    GachaSimulator2020
    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn--orange'
  .gacha_main__form
    %p ガチャに使用する金額を入力してください
    =form_with(url: result_path(2), class: "Form", id: "form", local: true) do |f|
      =f.number_field :time, id: "time", class: 'text',name: "times", value:'',step:"250"
      =f.submit'ガチャる', class:'send-btn'
  .gacha_main__back
    %a{href: 'http://localhost:3000'} トップに戻る <br>
  .gacha_main__footer
    GachaSimulator2020