.gacha_main
  .gacha_main__header
    GachaSimulator2020
  .gacha_main__form
    %p 回したい数を入力してください
    =form_with(url: gachas_path, class: "Form", id: "form", local: true) do |f|
      =f.text_field :time, id: "time", class: 'text',name: "times", value:''
      =f.submit'ガチャる', class:'send-btn' 
  .gacha_main__footer
    GachaSimulator2020