.result_form
  .result_form__header
    GachaSimulator2020
    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn--orange'
  .result_form__1
    %input.data{:class=>"data", :type=>"hidden" , :name=>"data", :value=>@val}
  .result_form__2
    result<br>
  :javascript
    $(function(){
      var val=$(".data").val();
          ssr = 0
          sr = 0
          r = 0
        for (let time = 0; time < val; time++) {
          rarity = Math.ceil( Math.random()*100 );  //1~100の範囲でランダムに数字を取得
            if (rarity <= 3){                       //確率３％
                ssr = ssr + 1
            }else if (rarity <= 18){                //確率１５％
                sr = sr + 1
            }else{                                  //確率８２％
                r = r + 1
            }
        }
        //ガチャ結果の表示
        $('.result_form__2').append("SSR:" + ssr + "<br>\n"); 
        $('.result_form__2').append("SR:" + sr + "<br>\n"); 
        $('.result_form__2').append("R:" + r + "<br>\n"); 

        $('.result_form__2').append("確率" + "<br>\n"); 
        //ガチャ結果の確率の計算
        SSR =  Math.round((((ssr / val) * 1000) / 10));
        SR =  Math.round((((sr / val ) * 1000) / 10));
        R =   Math.round((((r / val ) * 1000) / 10));

        //ガチャ結果の確率の表示
        $('.result_form__2').append("SSR:" + SSR+ "%<br>\n"); 
        $('.result_form__2').append("SR:" + SR+ "%<br>\n"); 
        $('.result_form__2').append("R:" + R+ "%<br>\n"); 

      })    

  .result_form__back
    %a{href: 'http://localhost:3000//gachas/form/1'} ガチャ回数入力に戻る<br>
    %a{href: 'http://localhost:3000'} トップに戻る
  .result_form__footer
    GachaSimulator2020
