.result_form
  .result
    = image_tag("result2.jpg", class:"image")
  =render "header"
  -if @result_form == 1
    .result_form__1
      %input.data{:class=>"data", :type=>"hidden" , :name=>"data", :value=>@val}
      %input.SSR{:type=>"hidden" , :name=>"SSR", :value=>@rarity.ssr}
      %input.data{:class=>"SR", :type=>"hidden" , :name=>"data2", :value=>@rarity.sr}
      %input.data{:class=>"R", :type=>"hidden" , :name=>"data3", :value=>@rarity.r}
    .result_form__2
    .result_form__footer
      =render "footer"
  -elsif @result_form == 2
    .result_form__1
      %input.data{:class=>"data", :type=>"hidden" , :name=>"data", :value=>@val}
      %input.SSR{:type=>"hidden" , :name=>"SSR", :value=>@rarity.ssr}
      %input.SR{:type=>"hidden" , :name=>"data2", :value=>@rarity.sr}
      %input.R{:type=>"hidden" , :name=>"data3", :value=>@rarity.r}
      %input.picup_ssr{:type=>"hidden" , :name=>"data4", :value=>@rarity.picup_ssr}
      %input.picup_sr{:type=>"hidden" , :name=>"data5", :value=>@rarity.picup_sr}
      %input.picup_r{:type=>"hidden" , :name=>"data6", :value=>@rarity.picup_r}
      %input.price{:type=>"hidden" , :name=>"data7", :value=>@rarity.price}
    .result_form__3
    .result_form__footer
      =render "footer"
  -elsif @result_form == 3
    .result_form__1
      %input.data_ssr{ :type=>"hidden" , :name=>"data", :value=>@val}
      %input.data_sr{:type=>"hidden" , :name=>"data8", :value=>@val2}
      %input.data_r{:type=>"hidden" , :name=>"data9", :value=>@val3}
      %input.SSR{:type=>"hidden" , :name=>"SSR", :value=>@rarity.ssr}
      %input.SR{:type=>"hidden" , :name=>"data2", :value=>@rarity.sr}
      %input.R{:type=>"hidden" , :name=>"data3", :value=>@rarity.r}
      %input.picup_ssr{:type=>"hidden" , :name=>"data4", :value=>@rarity.picup_ssr}
      %input.picup_sr{:type=>"hidden" , :name=>"data5", :value=>@rarity.picup_sr}
      %input.picup_r{:type=>"hidden" , :name=>"data6", :value=>@rarity.picup_r}
      %input.price{:type=>"hidden" , :name=>"data7", :value=>@rarity.price}
    .result_form__4
    .result_form__footer
      =render "footer"
  -elsif @result_form == 4
    .result_form__1
    .result_form__5
      %span.result_font_SSR
        =@count_times
      回引くと全てのキャラが出ました</br>
      -@count.each_with_index do|count, i|
        %span.font-large
          =i+1
        体目
        %span.result_font_SR
          =@count[i]
        体出ました</br>

    .result_form__footer
      =render "footer"

