.result_form
  .result
    = image_tag("result.jpg")
  .result_form__header
    .result_form__header_title
      GachaSimulator2020
      .result_form__edit
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-gradient'
    .result_form__header_user
      name: 
      = current_user.name
  .result_form__1
    %input.data{:class=>"data", :type=>"hidden" , :name=>"data", :value=>@val}
  .result_form__3

  .result_form__footer
    %a{href: form_path ,class:"Editlink"} 金額入力に戻る<br>
    %a{href: root_path ,class:"Editlink"} トップに戻る<br>
    GachaSimulator2020
