.gacha_main
  = render "header"
  .gacha_main__select
    -@selects.each do |select|
      %table{:border => "5"}
        %tr
          %th SSR
          %th SR
          %th R
          %th 欲しいSSR
          %th 欲しいSR
          %th 欲しいR
          %th 金額
        %tr
          %td 
            =select.ssr
            \%
          %td 
            =select.sr
            \%
          %td
            =select.r
            \%
          %td
            =select.picup_ssr
            \%
          %td
            =select.picup_sr
            \%
          %td
            =select.picup_r  
            \% 
          %td   
            =select.price
            円
          =link_to "選択", gacha_path(select.id), class:'btn-select', id:select.id
  =render "footer"