.gacha_main
  = render "header"
  .gacha_main__title
    現在の情報
    .gacha_main__button
      -if @button.present?
        %table{:border => "5",class:"button"}
          %tr{bgcolor:"#40E0D0"}
            %th SSR
            %th SR
            %th R
            %th 欲しいSSR
            %th 欲しいSR
            %th 欲しいR
            %th 金額
          -@button.each do |select|
            %tr
              %td 
                =select.ssr
                \%
              %td 
                =select.sr
                \%
              %td
                =select.r
                \%
              %td
                =select.picup_ssr
                \%
              %td
                =select.picup_sr
                \%
              %td
                =select.picup_r  
                \% 
              %td   
                =select.price
                円
      -else 
        現在の情報はありません
  .gacha_main__past
    過去の情報一覧(最新５件)
    .gacha_main__select
      -if @selects.present?
        %table{border: "5" ,class:"select"}
          %tr{bgcolor:"#40E0D0"}
            %th.ssr
              SSR
            %th SR
            %th R
            %th 欲しいSSR
            %th 欲しいSR
            %th 欲しいR
            %th.price
              金額
            %th.select
              
          -@selects.each do |select|
            %tr
              %td 
                =select.ssr
                \%
              %td 
                =select.sr
                \%
              %td
                =select.r
                \%
              %td
                =select.picup_ssr
                \%
              %td
                =select.picup_sr
                \%
              %td
                =select.picup_r  
                \% 
              %td     
                =select.price
                円
              %td.select
                =link_to "選択", edit_gacha_path(select.id), class:"btn-select"
      -else
        過去に登録された情報はありません
        <br>
      =link_to "情報入力フォームに戻る", new_gacha_path, class:"btn-link"
  .result_form__footer
    =render "footer"