.gacha_main__footer{
  font-size: 25px;
  a:hover {opacity: 0.5;}
  position: absolute; /*ここを変更*/
  bottom: 0;
  width: 100%;
  text-align: center;
}
.result_form__footer{
  font-size: 25px;
  a:hover {opacity: 0.5;}
  position: absolute; /*ここを変更*/
  bottom: 0;
  width: 100%;
  text-align: center;
}