.gacha_main__footer{
  font-size: 25px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.result_form__footer{
  font-size: 25px;
  position: absolute; 
  bottom: 0;
  width: 100%;
  text-align: center;
}