.edit_main{
  min-width: 800px;
  position: relative;
  background: rgba(0,0,0,0.6);
  min-height: 720px;
  width: 100%;
  .AccountPage{
    margin: auto;
    margin-top: 40px;
    margin-bottom:140px;
    top: 45%;
    left: 50%;
    padding: 15px 30px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    width: 600px;
  }
  .AccountPage__title {
    width: 100%;
    font-size: 14px;
    font-weight: 200;
    text-align: left;
    h2 {
      color: white;
      letter-spacing: 3px;
      font-size: 40px;
      font-weight: bold;
      &:after {
        content: "";
        display: block;
        width: 60px;
        margin-top: 5px;
      }
    }
  }
  .AccountPage__form {
    // width: 40%;
    // margin: 0 auto;
  }
  .FormField {
    margin-bottom: 10px;
    &__label--normal {
      text-align: left;
      color: white;
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 20px;
      font-weight: 200;
      i {
        font-size: 11px;
      }
      .field_with_errors {
        display: inline-block;
        color: #d65f4c;
        font-weight: 400;
      }
    }
    &__input--normal {
      input {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        letter-spacing: 1px;
      }
      .field_with_errors {
        position: relative;
        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 5px;
          background-color: #d65f4c;
        }
      }
    }
  }
  .actions{
    text-align: right;
  }
  a.Button {
    font-size: 20px;
    color: #fff;
    background-color: #24978e;
    display: inline-flex;
  }
  .Button {
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 2px;
    text-decoration: none;
  }
  .UserButton {
    margin-top: 20px;
    color: #fff;
    background-color: #38aef0;
    font-size: 20px;
  }
  .UserSubmit{
    margin-top: 20px;
    color: #fff;
    background-color: #38aef0;
    font-size: 20px;
  }
  #error_explanation {
    margin: 20px 0;
    padding: 20px 30px;
    border: 1px solid #ddd;
    border-radius: 2px;

    h2 {
      margin-bottom: 10px;
      color: #d65f4c;
      font-size: 14px;
    }

    ul {
      margin: 0;
      padding-left: 17px;
      list-style: square;
    }

    li {
      margin: 0;
      padding: 0;
      font-size: 17px;
      color: red;
    }
  }
}