.result{
  position: absolute;
  animation: fadein-keyframes 5s ease 0.2s 1 forwards;
  min-height: fit-content;
}
@keyframes fadein-keyframes {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.result_none{
  visibility:hidden;
  position: relative;
}
.result_form{
  background-color: #99FFFF;
  width: 100vw;
  height: 100vh;
  min-width: 900px;
  background-image: url("haikei.jpg");
  &__header{
    height: 80px;
    padding: 0 20px 0 20px;
    border-bottom: solid 5px rgb(12, 164, 211);
    color: white;
    &_title{
      display: flex;
      font-size: 35px;
      justify-content: space-between;
      font-weight: bolder;
      color: #40E0D0;
    }
    *,
    *:before,
    *:after {
      -webkit-text-fill-color:initial;
      font-weight: initial;
      text-decoration: initial;
      -webkit-box-sizing: inherit;
      box-sizing: inherit;
    }
    
    html {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 20%;
    }
    
    .btn,
    a.btn,
    button.btn {
      font-size: 1.0rem;
      //font-weight: 700;
      line-height: 1.5;
      position: relative;
      display: inline-block;
      //padding: 1rem 4rem;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      text-align: center;
      vertical-align: middle;
      text-decoration: none;
      letter-spacing: 0.1em;
      color: #212529;
      border-radius: 0.5rem;
    }
    
    a.btn-gradient {
      font-size: 2rem;
      color: #fff;
      border-radius: 0;
      background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#fa709a),
        to(#fee140)
      );
      background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
      background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    }
    
    a.btn-gradient span {
      background-image: -webkit-linear-gradient(
        315deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
      );
      background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    
    a.btn-gradient:hover {
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#fee140),
        to(#fee140)
      );
      background: -webkit-linear-gradient(left, #fee140 0%, #fee140 100%);
      background: linear-gradient(to right, #fee140 0%, #fee140 100%);
      -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }

    &_user{
      color: greenyellow;
      font-size: 21px;
      min-width: 500px；
    }
  }
  &__1{
    display: none;
  }
  &__2{
    color: yellow;
    text-align: center; 
    font-size: 35px;
    margin-top: auto;
    margin-bottom: auto;
  }
  &__3{
    color: yellow;
    text-align: center; 
    font-size: 35px;

  }
  &__back{
    text-align: center; 
    font-size: 25px;
    a:hover {color:red;}
    
  }
  &__footer{
    font-size: 25px;
    a:hover {color:red;}
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    position: absolute;
    bottom: 0; 
  }
}