@import "mixin/form";
body {
  display: flex;
  flex-flow: column;
  height: 100%;
  background-image: url("haikei.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-width: 980px;
}
.gacha_main{
  background: rgba(0,0,0,0.6);
  width:  100%;
  min-width: 900px;
  position: relative;
  height: auto;
  min-height: 100%;
  &__aaa{
    display: flex;
    justify-content: center;
    height: 600px;
    margin-bottom: 35px;
  }
  &__probability{
    padding-top: 15px;
  }
  &__price{
    padding-top: 15px;
    margin-bottom: 15px;
  }
  &__need{
    padding-top: 15px;
  }
  &__information{
    color: white;
    background: rgba(0,0,0,0.7);
    text-align: center;
    font-size: 22px;
    width:250px;
    margin-left :2%;
    height: 500px;
    .ssr{
      @include index_ssr();
    }
    .sr{
      @include index_sr();
    }
    .r{
      @include index_r();
    }
    .price{
      @include index_sr();
    }
    a.btn{
      margin-top: 3px;
      background-color: #40E0D0;
      color: white;
      text-decoration: none;
      padding: 5px;
    }
    a.btn:hover{
      opacity: 0.7;
    }
  }
  &__form_index{
    padding: 0px 30px;
    padding-top: 8%;
    background: rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    font-size: 30px;
    width: 700px;
    height: 500px;

    a.send-btn:hover {
      opacity: 0.5;
    }
    .rate{
      width: 80px;
    }
    .send-rate-btn{
      text-align: center;
      margin-top: 10px;
    }
  }
  &__form_index_information{
    padding-bottom: 20px;
  }
  &__title{
    padding-top: 10px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    font-size: 30px;
    width: 990px;
  }
  &__past{
    background: rgba(0,0,0,0.6);
    color: #fff;
    text-align: center;
    margin: auto;
    font-size: 30px;
    width: 990px;
    margin-bottom:35px;
  }
  &__underline{
    border-bottom: solid 4px red;
  }
  &__form{
    margin: auto;
    margin-top: 180px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    font-size: 30px;
    width: 800px;
    a:hover {
      opacity: 0.5;
    }
    .send-btn:hover {
      opacity: 0.5;
    }
    .rate{
      width: 80px;
    }
    .rate_2{
      width: 80px;
      margin-left: 20px;;
    }
    .send-rate-btn{
      text-align: center;
      margin-top: 10px;
    }
  }
  &__form_special{
    margin: auto;
    margin-top: 180px;
   background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: right;
    font-size: 30px;
    width: 800px;
    p{
      text-align: center;
    }
    a:hover {
      opacity: 0.5;
    }
    .send-btn:hover {
      opacity: 0.5;
    }
    .rate{
      width: 80px;
    }
    .rate_2{
      width: 80px;
      margin-left: 20px;;
    }
    .form_special_1{
      text-align: center;
    }
    .form_special_4{
      margin-right: 121px;
    }
    .form_special_5{
      text-align: center;
    }
    .send-rate-btn{
      text-align: center;
      margin-top: 10px;
    }
  }
  &__select{
      margin: 0 auto;
      margin-bottom: 80px;
      padding: 15px 30px;
      background: rgba(0,0,0,0.6);
      color: #fff;
      font-size: 30px;
      width:  930px;
      height: 360px;
      margin: auto;
      .rate{
        width: 80px;
      }
      .send-rate-btn{
        text-align: center;
        margin-top: 10px;
      }
      .btn-select{
        display: block;
        font-size: 25px;
        width: 50px;
        height: auto;
        background-color: #40E0D0;
        text-decoration: none;
        margin: auto;
        color: black;
        padding: 0 5px;
      }
      .btn-select:hover{
        opacity: 0.9;
      }
      .btn-link:hover{
        opacity: 0.7;
      }
    } 
    a.btn-link{
      display: inline-block;
      padding: 0 10px;
      background-color: #40E0D0;
      text-decoration: none;
      color: black;
      margin-top: 10px;
    }
    &__button{
      margin: auto;
      padding: 15px 30px;
      background: rgba(0,0,0,0.6);
      color: #fff;
      text-align: center;
      font-size: 30px;
      width:  930px;
      height: 100px;
      .rate{
        width: 80px;
      }
      table{
        margin: 0 auto;
      }
    }
  &__edit{
    margin: auto;
    margin-top: 120px;
    margin-bottom: 260px;
    padding: 15px 30px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    font-size: 30px;
    width:  900px;
    height: 220px;

    .btn-select{
      display: inline-block;
      margin: 20px 0;
      width: 100px;
      height: auto;
      padding: 2px;
      background-color: rgb(156, 151, 151);
      text-decoration: none;
      color: white
    }
    .btn-submit{
      display: inline-block;
      width: 100px;
      height: 50px;
      background-color: #40E0D0;
      text-decoration: none;
      color: white;
      border: none;
      outline: none;
    }
    .btn-select:hover{
      opacity: 0.7;
    }
    .btn-submit:hover{
      opacity: 0.7;
    }
  }
  &__form_rate{
    margin: 50px auto;
    margin-bottom: 100px;
    padding: 15px 30px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    font-size: 30px;
    width: 707px;
    a.send-btn:hover {
      opacity: 0.5;
    }
    .rate{
      width: 100px;
      text-align: center;
    }
    .rate_price{
      width: 150px;
      text-align: center;
    }
    .send-rate-btn{
      text-align: center;
      margin-top: 10px;
      background-color: #40E0D0;
      color: white;
      outline: 0;
    }
  }
  &__rate{
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 25px;
    margin-bottom: 23%;
  }
  .ddd{
    position: absolute;
    pointer-events: none;
  }
  .ddd:nth-of-type(2){
    top: 50px;
  }
  .ddd:nth-of-type(3){
    top: 70px;
  }
  .add{
    position: absolute;
    pointer-events: none;
    left: 50px;
  }
  .add:nth-of-type(2){
    top: 50px;
  }
  .add:nth-of-type(3){
    top: 70px;
  }
    .btn--orange {
    font-size:20px;
    color: #fff;
    background-color: #fa709a;
    outline:0;
    position: relative;
  }
  &__form_select{
    text-align: center;
  }
  .select-btn{
    width: 100%;
    height: 30px;
    background-color: #EFEFEF;
    text-decoration: none;
    color: black;
    padding: 8.5px;
  }
  .select-btn:hover{
    opacity: 0.7;
  }
  .reset:hover{
    opacity: 0.7;
  }
  .send-rate-btn:hover{
    opacity: 0.7;
  }
}
.Editlink{
  text-decoration: none;
  color: #38eaf0;
  &_index{
    text-decoration: none;
    color: #38eaf0;
  }
}
a.Editlink_index:hover{
  opacity: 0.5;
}
.reset{
  text-align: center;
  width: 100px;
  height: 49px;
  background-color: #aaa;
  color: white;
  outline: 0;
}
table.select{
  float:left;
}
.rate1{
  width: 80px;
  background-color: gray;
  outline: 0;
}
th,td{
  text-align: center;
  width: 122px;
  font-size: 24px;
}
th.select {
  width:40px;
}
th{
  color: black;
  padding: 4px 0;
}
td.select{
  width: 60px;
}
.content{
  text-align: center;
}
.Contents__btn{
  text-decoration: none;
  color: black;
  border: none; 
  padding: 0 3px; 
  margin-top:-2px; 
  margin-bottom: -2px; 
  font-size: 30px;
  outline: 0;
  :hover{
    opacity: 0.5;
  }
}
.form_special_1{
  margin-left: -85px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
  -moz-appearance:textfield;
}
p.example{
  font-size: 25px;
  margin-bottom: 10px;
}