body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
.gacha_main{
  background-color: #99FFFF;
  width:  100%;
  height: 721px;
  min-width: 900px;
  min-height: 400px;
  background-image: url("haikei.jpg");
  flex: 1;
  &__underline{
    border-bottom: solid 4px red;
  }
  &__form{
    margin: 150px 300px 0 300px;
    top: 45%;
    left: 50%;
    padding: 15px 30px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    font-size: 30px;
    width: 570px;
    a:hover {
      opacity: 0.5;
    }
    .send-btn:hover {
      opacity: 0.5;
    }
    .rate{
      width: 80px;
    }
    .send-rate-btn{
      text-align: center;
      margin-top: 10px;
    }
  }
  &__form_index{
    margin: 100px 300px;
    top: 45%;
    left: 50%;
    padding: 15px 30px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    font-size: 30px;
    width: 570px;
    a:hover {
      opacity: 0.5;
    }
    .send-btn:hover {
      opacity: 0.5;
    }
    .rate{
      width: 80px;
    }
    .send-rate-btn{
      text-align: center;
      margin-top: 10px;
    }
  }
  &__form_rate{
    margin: 50px 300px;
    top: 45%;
    left: 50%;
    padding: 15px 30px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    font-size: 30px;
    width: 570px;
    a:hover {
      opacity: 0.5;
    }
    .send-btn:hover {
      opacity: 0.5;
    }
    .rate{
      width: 80px;
    }
    .send-rate-btn{
      text-align: center;
      margin-top: 10px;
    }
  }
  &__rate{
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 25px;
  }
  .btn--orange,
a.btn--orange {
  font-size:20px;
  color: #fff;
  background-color: #fa709a;
  outline:0;
}
}
.Editlink{
  text-decoration: none;
  color: #38eaf0;
}
.reset{
  text-align: center;
  width: 100px;
  height: 49px;
}
