@mixin font-color_ssr() {
    font-family: 'Goldman', cursive;
    text-transform: uppercase;
    background: linear-gradient(to right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: example 4s linear infinite;
    font-size: 45px;
}

@mixin font-color_sr() {
  font-family: 'Goldman', cursive;
  color: transparent;
  background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em); 
  -webkit-background-clip: text;
  font-size: 45px;
  animation: glow .8s infinite alternate;
}

@mixin font-color_r() {
  font-family: 'Goldman', cursive;
  color: transparent;
  background: repeating-linear-gradient(0deg, #757575 0.1em, #9E9E9E 0.2em, #E8E8E8 0.3em, #9E9E9E 0.4em, #757575 0.5em); 
  -webkit-background-clip: text;
  font-size: 45px;
  animation: glow1 .8s infinite alternate;
}

@mixin result_form(){
  color: white;
  text-align: center; 
  font-size: 35px;
  line-height: 45px;
  min-width: 1000px;
}

@mixin index_ssr() {
  text-transform: uppercase;
  background: linear-gradient(to right, #f00 0%, #f80 14.28%, #dd0 9.56%, #0d0 22.85%, #0dd 37.14%, #00f 41.42%, #e0e 55.71%, #f00 90%) 0% center / 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // animation: example 4s linear infinite;
  font-size: 22px;
}

@mixin index_sr() {
color: transparent;
background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em); 
-webkit-background-clip: text;
font-size: 22px;
}

@mixin index_r() {
color: transparent;
background: repeating-linear-gradient(0deg, #757575 0.1em, #9E9E9E 0.2em, #E8E8E8 0.3em, #9E9E9E 0.4em, #757575 0.5em); 
-webkit-background-clip: text;
font-size: 22px;
}